@import "~antd/dist/antd.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.mv-4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.mv-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.p-4 {
  padding: 4em;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
